<% books.each do |book| %>
<div>
  <p>投稿ユーザ画像：<%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>ショップ名：<%= book.title %></p>
  <P>説明：<%= book.body %></P>
  <p>ユーザーネーム：<%= book.user.name %></p>
</div>
<% end %>